@import "tailwindcss";


body {
  font-family: 'Poppins';
  margin-left: 137px;
}

.items-top {
  margin: 103px;
}

.arrowl {
  margin-left: 97px;
}

body.sidebar-expanded {
  margin-left: 256px;
  transition: margin-left 0.3s ease-in-out;
}